*{
    box-sizing: border-box;
}

:root{
/* colors */
--red: #E35B54;
--black: #000000;
--grey: #545454;
--grayWhite: #f6f6f6;
--lightGray: #eeeeee;
--white:#fff;



}

h1{
    font-family: 'Poppins', sans-serif;
   
    
}

h2{
    font-family: 'Poppins', sans-serif;
    
}

h3{
    font-family: 'Poppins', sans-serif;
    
}

h4{
    font-family: 'Poppins', sans-serif;
    
}
p{
    font-family: 'Poppins', sans-serif;
    color: var(--grey);
    margin: 0;
    
}

a{
    font-family: 'Poppins', sans-serif;
    
}

.custom-button{
    width:auto;
    border-radius: 15px;
    background-color: var(--lightGray);
    padding: .5rem 0;
}

.red{
    color: var(--red);
}

.grey{
    color: var(--grey);
}

.white{
    color: var(--white);
}

.grayWhiteBackground{
    background-color: var(--grayWhite);
}


.black{
    color: var(--black);
}



.grayBackground{
    background-color: var(--grey);
}

.redBackground{
    background-color: var(--red);
}