*{
    box-sizing: border-box;
}

:root{
/* colors */
--red: #E35B54;
--black: #000000;
--grey: #545454;
--grayWhite: #f6f6f6;
--lightGray: #eeeeee;
--white:#fff;



}

h1{
    font-family: 'Poppins', sans-serif;
    color: var(--grey)
   
    
}

h2{
    font-family: 'Poppins', sans-serif;
    color: var(--grey)
    
}

h3{
    font-family: 'Poppins', sans-serif;
    color: var(--grey)
    
}

h4{
    font-family: 'Poppins', sans-serif;
    color: var(--grey)
    
}
p{
    font-family: 'Poppins', sans-serif;
    color: var(--grey);
    margin: 0;
    
}

a{
    font-family: 'Poppins', sans-serif;
    
}

.button-flex{
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.custom-button{
    width: auto;
    display: inline-block;
    border-radius: 15px;
    background-color: var(--lightGray);
    padding: .5rem;
    margin: .5rem;
}

.custom-border{
    height: .05rem;
    margin: 1rem 0;
    width: auto;
}

.footer{
    height:200px;
    background-color: var(--grey);
}

/* colors */
.red{
    color: var(--red);
}

.grey{
    color: var(--grey);
}

.white{
    color: var(--white);
}

.grayWhiteBackground{
    background-color: var(--grayWhite);
}


.black{
    color: var(--black);
}



.grayBackground{
    background-color: var(--grey);
}

.redBackground{
    background-color: var(--red);
}

@media screen and (min-width: 768px){
    .button-flex{
        justify-content: center;
    }
    
}